name: closed-pr
'on':
  pull_request:
    branches:
      - main
    types:
      - closed
jobs:
  closed-pr:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: ./.github/actions/aws-credentials
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup ttoss environment
        uses: ./.github/actions/setup
        with:
          skip-i18n: 'true'
      - name: Run closed-pr command
        run: sh -e ./.cicd/commands/closed-pr.sh
        env:
          CARLIN_BRANCH: ${{ github.event.pull_request.head.ref }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
