name: main
'on':
  push:
    branches:
      - main
concurrency:
  group: main
  cancel-in-progress: false
jobs:
  main:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    if: ${{ !contains(github.event.head_commit.message, 'chore(release):') }}
    environment: Production
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 20
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      - name: Configure AWS Credentials
        uses: ./.github/actions/aws-credentials
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Setup git user
        run: |
          git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"
      - name: Setup ttoss environment
        uses: ./.github/actions/setup
      - name: Run main command
        run: sh -e ./.cicd/commands/main.sh
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
          GH_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
