name: pr

'on':
  pull_request:
    branch:
      - main
    types:
      - opened
      - synchronize
      - reopened

concurrency:
  group: pr-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-region: us-east-1
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 50

      - name: Fetch and merge most recent main
        run: |
          git fetch origin main:main
          git merge main --ff-only --no-edit

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn install --frozen-lockfile --prefer-offline

      # Lint and throw errors if there are any file that need to be formatted
      - name: Lint
        # Build config to run lint-staged for lint and version bump.
        run: |
          yarn turbo run build --filter=@ttoss/config...
          yarn lint
          if [[ -n $(git status --porcelain) ]]; then
            echo "Need lint. Please run 'yarn lint' locally and commit the changes"
            exit 1
          fi

      - name: Run pr command
        run: sh -e ./.cicd/commands/pr.sh
