name: pr
'on':
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
concurrency:
  group: pr-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true
jobs:
  pr:
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: ./.github/actions/aws-credentials
        with:
          aws-region: ${{ vars.AWS_REGION }}
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 50
      - name: Fetch and merge most recent main
        run: |-
          git fetch origin main:main
          git merge main --ff-only --no-edit
      - name: Setup ttoss environment
        uses: ./.github/actions/setup
      - name: Run pr command
        run: sh -e ./.cicd/commands/pr.sh
        env:
          CARLIN_BRANCH: ${{ github.event.pull_request.head.ref }}
          TURBO_TEAM: ${{ vars.TURBO_TEAM }}
          TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
